.footer {
  margin-left: 80px;
  padding-top: 30px;
  padding-bottom: 15px;
  background: #e6e6e6;
  &-inner {
    display: flex;
    align-items: center;
    gap: 200px;
    padding: 30px 90px;
    gap: 220px;
  }
  &-info {
    flex: 1;
    max-width: 610px;
  }
  &-logo {
    height: 45px;
    max-width: 200px;
    margin-bottom: 40px;
    cursor: pointer;
    flex-shrink: 0;
    & img {
      object-fit: contain;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    & span {
      font-size: 16px;
      font-weight: 400;
      line-height: calc(20 / 16);
    }
  }
  &-icon {
    flex-shrink: 0;
  }
  &-note {
    color: $gray-text;
    font-size: 16px;
    font-weight: 400;
    line-height: calc(20 / 16);
    margin-top: 10px;
  }
  &-contact {
  }
  &-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 60px;
  }
  &-h2 {
    font-size: 24px;
    max-width: 230px;
    font-weight: 700;
    color: $blue;
    line-height: calc(29 / 24);
  }
  &-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & input {
      padding: 12px 20px;
      border: 0;
      outline: 0;
      color: $gray-text;
    }
    & button {
      font-size: 16px;
      font-weight: 600;
      background-color: $blue;
      padding: 10px 16px;
      color: $white-text;
      flex-shrink: 0;
      transition: 0.2s;
      &:hover {
        background-color: $red;
      }
    }
  }
  &-list {
    display: flex;
    align-items: flex-start;
    gap: 140px;
  }
  &-list1 {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  &-link {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 600;
    line-height: calc(20 / 16);
    transition: 0.2s;
    &:hover {
      color: $red;
    }
  }
}

@media screen and (max-width: 1400px) {
  .footer {
    &-item {
      & span {
        font-size: 15px;
      }
    }
    &-h2 {
      font-size: 20px;
    }
    &-input {
      & button {
        font-size: 15px;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .footer {
    margin: 0;
    &-logo {
      height: 35px;
      & img {
        object-fit: contain;
      }
    }
    &-item {
      & span {
        font-size: 14px;
      }
    }
    &-icon {
      width: 20px;
      height: 20px;
    }
    &-login {
      flex-direction: column;
    }
    &-link {
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 20px;
    &-inner {
      flex-direction: column;
      gap: 40px;
      padding: 20px 60px;
    }
    &-info {
      margin: auto;
    }
    &-logo {
      max-width: 150px;
    }
  }
}
@media screen and (max-width: 650px) {
  .footer {
    padding-top: 15px;
    &-list {
      flex-direction: column;
      gap: 40px;
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding-top: 10px;
    &-login {
      gap: 15px;
      margin-bottom: 25px;
    }
    &-inner {
      gap: 20px;
      padding: 10px 30px;
    }
    &-logo {
      margin-bottom: 10px;
      width: 110px;
      height: 25px;
    }
    &-input {
      flex-direction: column;
      justify-content: flex-start;
      & input {
        padding: 10px 20px;
      }
      & button {
        width: 84.5%;
        text-align: center;
        font-size: 12px;
      }
    }
    &-h2 {
      font-size: 18px;
    }
    &-note {
      font-size: 12px;
    }
    &-item {
      & span {
        font-size: 12px;
      }
    }
    &-list {
      gap: 25px;
    }
    &-link {
      font-size: 12px;
    }
  }
}
