img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  transition: 0.25s;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  all: unset;
  cursor: pointer;
}
li {
  list-style: none;
  color: $black-text;
}
.wrapper {
  max-width: 1820px;
  user-select: none;
}
.main {
  margin: 80px 0 0 80px;
}
.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0px 25px;
}
p {
  text-align: justify;
}
@media screen and (max-width: 1200px) {
  .main {
    margin: 60px 0 0 0;
  }
}
@media screen and (max-width: 500px) {
  .main {
    margin: 50px 0 0 0;
  }
}
