.header {
  // navbar
  &-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 80px;
    z-index: 100;
    background: $white-text;
    &-inner {
      height: 80px;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      padding: 0 55px;
    }
  }
  &-logo {
    height: 40px;
    flex-shrink: 0;
    cursor: pointer;
    & img {
      object-fit: contain;
    }
  }
  &-search,
  &-menu {
    display: none;
  }
  &-list {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &-item {
    & a {
      color: $black-text;
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      flex-shrink: 0;
      transition: 0.15s;
      &:hover {
        color: $red;
      }
    }
  }
  &-flag {
    display: flex;
    align-items: center;
    gap: 12.5px;
    &-img {
      cursor: pointer;
    }
    &-search,
    &-menu {
      display: none;
    }
  }

  //   sidebar
  &-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $white-text;
    &-inner {
      width: 80px;
    }
  }
  &-logo2 {
    width: 100%;
    height: 80px;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      width: 50px;
      height: 50px;
    }
  }
  &-social {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
    max-width: 35px;
    width: 100%;
  }
  &-icon {
    transition: 0.25s;
    & img {
      margin-bottom: 20px;
      width: 35px;
      height: 35px;
    }
    &:hover {
      filter: brightness(10%);
    }
  }
}
@media screen and (max-width: 1200px) {
  .header {
    &-nav {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 10000;
      &-inner {
        height: 60px;
        max-width: 950px;
        margin: auto;
        padding: 0 15px;
      }
    }
    &-logo {
      height: 35px;
    }
    &-list {
      display: none;
    }
    &-search {
      display: block;
      filter: brightness(10%);
      width: 25px;
      cursor: pointer;
    }
    &-menu {
      display: block;
      font-size: 25px;
      cursor: pointer;
    }
    &-flag img {
      height: 22px;
    }
  }
  .header-sidebar {
    &-inner {
      display: none;
    }
  }
  // .header-menu:hover .overlay-list {
  //   display: block;
  // }
}
@media screen and (max-width: 900px) {
  .header {
    &-nav {
      &-inner {
        justify-content: space-around;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .header {
    &-nav {
      &-inner {
        height: 50px;
      }
    }
    &-logo {
      height: 25px;
      flex-shrink: 0;
    }
    &-flag-img img {
      height: 18px;
    }
    &-search {
      height: 22px;
    }
    &-menu {
      font-size: 22px;
    }
  }
}
