.content {
  &-intro {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
  }
  &-inner {
    position: absolute;
    max-width: 700px;
    padding: 50px;
    background-color: $blue;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  &-title {
    max-width: 400px;
    font-size: 45px;
    font-weight: 600;
    color: $white-text;
    line-height: calc(55 / 45);
    margin-bottom: 30px;
  }
  &-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(20 / 16);
    color: $white-text;
    max-width: 600px;
  }
  &-img {
    text-align: right;
    max-width: 1000px;
  }
  &-h3{
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .content {
    &-inner {
      max-width: 600px;
      padding: 40px;
    }
    &-title {
      font-size: 35px;
      margin-bottom: 25px;
    }
    &-desc {
      font-size: 15px;
    }
    &-img {
      max-width: 700px;
    }
  }
}
@media screen and (max-width: 767px) {
  .content {
    &-inner {
      max-width: 500px;
      padding: 25px;
    }
    &-img {
      max-width: 500px;
    }
    &-title {
      font-size: 30px;
      margin-bottom: 20px;
    }
    &-desc {
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 600px) {
  .content {
    &-intro{
      margin-bottom: 40px;
    }
    &-inner{
      display: none;
    }
    &-image{
      position: relative;
      overflow: hidden;
    }
    &-h3{
      display: block;
      line-height: 50px;
      height: 50px;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      background-color: $blue;
      color: $white-text;
      font-size: 25px;
      font-weight: 600;
    }
  }
}
@media screen and (max-width: 500px) {
  .content{
    &-h3{
      font-size: 20px;
    }
  }
}